*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}

img {
    width: 150px;
}

a, a:visited, a:active {
    color: black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    a {
        text-decoration: none;
        

        span {
            font-weight: bold;
        }
    }
    

    img {
        width: 30px;
    }

    nav {
        padding: 20px, 0, 20px, 0;


        ul {
            list-style: none;
            display: flex;
            column-gap: 30px;
        }

    }

}

.img-container img {
    width: 100%;
    height: 300px;
    padding: 0 100px;
}

.main-titles {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: 0.5rem;
    margin-top: 20px;
}


    .container-featured {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        column-gap: 50px;

        article {
            width: 150px;
            text-align: center;
            

            img {
                width: 100%;
                height: 100px;

            }




            .product-info {
                text-decoration: none;
                font-size: 0.8rem;
            }

            .price-tag {
                margin-top: 10px;
            }
        }
    }

    .container-outstanding {
        margin-top: 150px;
        justify-content:center;
        display: grid;
        grid-template-rows: 200px 200px;
        grid-gap: 10px;







        .outstanding-row1, .outstanding-row2 {
        display: flex;
        }
        

        .outstanding1, .outstanding4, .outstanding2, .outstanding3 {
            display: flex;
            width: 300px;
            margin: 0 60px;
            //border: 1px solid #707070;
            
            

            article {
                width: 150px;
                text-align: center;
                
                a {
                    display: inline-block;

                }
    
                img {
                    width: 90%;
                    height: 100px;
                }

                img:hover {
                    width: 100%;
                    height: 100px;
                    color: transparent;
                    background-color: transparent;

                }
    
                .product-info {
                    text-decoration: none;
                    font-size: 0.8rem;
                }
    
                .price {
                    margin-top: 10px;
                }
            }
        }

        .outstanding2, .outstanding3 {
            img {
                width: 100%;
            }
        }
    }

footer {
    color: white;
    background-color: black;
    margin-top: 50px;
    align-items: center;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .footer-col-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .footer-col-2 {
        display: grid;
        gap: 20px;
        justify-content: center;
    }
}

.shop-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .shop-col-1 {

        padding: 50px;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }

    .shop-col-2 {

        margin-top: 50px;
        img {
            max-width: 20px;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
            color: #CB0909;
        }

        .quantity {
            display: flex;
            gap: 7px;
        }

       .add-to-cart {
            background-color: black;
            color: white;
            height: 3rem;
            line-height: 2rem;
            width: 20rem;
            font-size: 1.2rem;
            justify-content: flex-end;

        }

        .add-to-cart:hover {
            cursor: pointer;
            background-color: #3e3e3e;
            border: none;
        }
    }
}




