* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
}

img {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
header a {
  text-decoration: none;
}
header a span {
  font-weight: bold;
}
header img {
  width: 30px;
}
header nav {
  padding: 20px, 0, 20px, 0;
}
header nav ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.img-container img {
  width: 100%;
  height: 300px;
  padding: 0 100px;
}

.main-titles {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 0.5rem;
  margin-top: 20px;
}

.container-featured {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.container-featured article {
  width: 150px;
  text-align: center;
}
.container-featured article img {
  width: 100%;
  height: 100px;
}
.container-featured article .product-info {
  text-decoration: none;
  font-size: 0.8rem;
}
.container-featured article .price-tag {
  margin-top: 10px;
}

.container-outstanding {
  margin-top: 150px;
  justify-content: center;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
}
.container-outstanding .outstanding-row1, .container-outstanding .outstanding-row2 {
  display: flex;
}
.container-outstanding .outstanding1, .container-outstanding .outstanding4, .container-outstanding .outstanding2, .container-outstanding .outstanding3 {
  display: flex;
  width: 300px;
  margin: 0 60px;
}
.container-outstanding .outstanding1 article, .container-outstanding .outstanding4 article, .container-outstanding .outstanding2 article, .container-outstanding .outstanding3 article {
  width: 150px;
  text-align: center;
}
.container-outstanding .outstanding1 article img, .container-outstanding .outstanding4 article img, .container-outstanding .outstanding2 article img, .container-outstanding .outstanding3 article img {
  width: 100%;
  height: 100px;
}
.container-outstanding .outstanding1 article img:hover, .container-outstanding .outstanding4 article img:hover, .container-outstanding .outstanding2 article img:hover, .container-outstanding .outstanding3 article img:hover {
  width: 100%;
  height: 100px;
  color: transparent;
  background-color: transparent;
}
.container-outstanding .outstanding1 article .product-info, .container-outstanding .outstanding4 article .product-info, .container-outstanding .outstanding2 article .product-info, .container-outstanding .outstanding3 article .product-info {
  text-decoration: none;
  font-size: 0.8rem;
}
.container-outstanding .outstanding1 article .price, .container-outstanding .outstanding4 article .price, .container-outstanding .outstanding2 article .price, .container-outstanding .outstanding3 article .price {
  margin-top: 10px;
}
.container-outstanding .outstanding2 img, .container-outstanding .outstanding3 img {
  width: 100%;
}

footer {
  color: white;
  background-color: black;
  margin-top: 50px;
  align-items: center;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-col-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
footer .footer-col-2 {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.shop-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.shop-section .shop-col-1 {
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.shop-section .shop-col-1 img {
  width: 100%;
}
.shop-section .shop-col-2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shop-section .shop-col-2 img {
  max-width: 20px;
}
.shop-section .shop-col-2 span {
  color: #CB0909;
}
.shop-section .shop-col-2 .quantity {
  display: flex;
  gap: 7px;
}
.shop-section .shop-col-2 .add-to-cart {
  background-color: black;
  color: white;
  height: 3rem;
  line-height: 2rem;
  width: 20rem;
  font-size: 1.2rem;
  justify-content: flex-end;
}
.shop-section .shop-col-2 .add-to-cart:hover {
  cursor: pointer;
  background-color: #3e3e3e;
  border: none;
}/*# sourceMappingURL=styles.css.map */